@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ne puteti vizita sediul la: Strada Victor Babes Nr. 29, Cluj-Napoca<br />
    
    <abbr title="Numar de telefon"></abbr>
    Fix: 0253 343 493
    Mobil: 0799 972 635
</address>

<address>
    <strong>Suport tehnic:</strong>   <a href="mailto:cristian.borcos@romfarm.ro">cristian.borcos@romfarm.ro</a><br />
    <strong>Sugestii:</strong> <a href="mailto:sugestii@romfarm.ro">sugestii@romfarm.ro</a>
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m13!1m11!1m3!1d568.5557750593771!2d23.585051360678214!3d46.76441135456507!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sro!4v1537647562312" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
