

@{
    ViewBag.Title = "Despre Noi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Medicamente Lipsa este un proiect demarat de catre ROMFARM pentru a aduce in
    evidenta lipsa unor medicamente esentiale de pe piata romaneasca.
    
    Ne dorim ca implicarea noastra, a cetatenilor, sa aduca o schimbare in 
    sistemnul sanitar romanesc, pe tema lipsei anumitor medicamente.</p>
